<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. TensorFlow
3. Keras
4. Scikit-learn
5. Pandas

|Data Science Tools|
--------------------
|JupyterLab|
|Apache Zeppelin|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This is a simple arithmetic expression to multiple then add integers.

(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by dividing by 60

min = 200
hour = min // 60
min %= 60

print(hour, "hours", min, "minutes")

3 hours 20 minutes

**Objectives**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular Data Science open-source tools
- Evaluate basic arithmetical expressions

## Author

Derek Chisum